<% @comments.each do |comment| %>
  <div class = "comment">
    <div class = "comment-body" >
      <%= comment.body %>
    </div>
    <div class = "comment-user-time" >
      <p class = "comment-user"> <%= User.find(comment.user_id).name %> </p>
      <p class= "comment-on"> &nbsp on &nbsp </p>
      <p class = "comment-time" > <%= comment.created_at.strftime("%l.%M %P, %e %B %Y") %> </p>
    </div>
  </div>
<% end %>

<script>
  $('.comment').last().addClass( "last-comment" );

  if( $('.comment').length == 0) {
    $('.comments').css('border','none');
  };
</script>
