<%= form_with(model: [ @todo, @todo.comments.build ], remote: true, class: "asd") do |form| %>
  <p>
    <%= form.text_field :body, :placeholder => "Add the comment. Hit 'Enter' to post", :class => "comment-entry" %>
  </p>
<% end %>
