<% if @todos.empty? %>
  <div class = "todo">
    <p>Nothing to show </p>
  </div>
<% else %>
  <% @todos.each do |todo| %>
    <%= render 'todo', todo: todo %>
  <% end %>
<% end %>

<script>
  $('.up').removeClass( "invisible" );
  $('.down').removeClass( "invisible" );
  $('.up').first().addClass( "invisible" );
  $('.down').last().addClass( "invisible" );
</script>
